@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200&display=swap");
body {
  margin: 0;
  padding: 0.5% 0.2% 0.5% 0.2%;
  background-color: rgb(77, 89, 91);
  color: rgba(246, 242, 240, 0.8);
  font-family: Archivo;
  cursor: default;
}

nav {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: rgb(77, 89, 91);
}
@media (min-width: 300px) and (max-width: 900px) {
  nav {
    border: 2px solid rgba(246, 242, 240, 0.2);
    border-radius: 5px;
  }
  nav #title {
    font-size: 1.8em;
    width: 90%;
  }
}
@media (min-width: 900px) {
  nav #title {
    flex: 2;
    margin: 0 4px 0 2px;
    padding: 4px 4px 4px 1%;
    border: 2px solid rgba(246, 242, 240, 0.2);
    font-size: 1.8em;
  }
}

@media (min-width: 900px) {
  #links {
    display: flex;
    flex: 1;
    border: 2px solid rgba(246, 242, 240, 0.2);
    border-radius: 5px;
  }
}

#burgerInput {
  display: none;
}

#burgerLabel {
  display: none;
}
@media (min-width: 300px) and (max-width: 900px) {
  #burgerLabel {
    display: flex;
    justify-content: flex-end;
    margin: 1%;
    cursor: pointer;
  }
  #burgerLabel > img {
    width: 20%;
  }
}

@media (min-width: 300px) and (max-width: 900px) {
  #menu {
    position: absolute;
    opacity: 0;
    display: flex;
    flex-direction: column;
    margin: 2%;
  }
}
@media (min-width: 900px) {
  #menu {
    display: flex;
    flex: 1;
    align-items: center;
  }
}

@media (min-width: 300px) and (max-width: 900px) {
  #burgerInput:checked ~ #menu {
    position: static;
    opacity: 1;
    transition: opacity 0.6s linear;
  }
}

@media (min-width: 300px) and (max-width: 900px) {
  #menu > a {
    max-height: 0%;
    margin: 0.5% 1% 0.5% 1%;
    padding: 4px 0 4px 0;
    transition: 0.5s ease-in-out;
    color: rgba(246, 242, 240, 0.8);
    text-decoration: none;
    align-self: flex-end;
  }
}
@media (min-width: 900px) {
  #menu > a {
    justify-content: space-evenly;
    margin: 0.5% 1% 0.5% 1%;
    padding: 4px 0 4px 0;
    flex: 1;
    text-align: center;
    transition: 0.5s ease-in-out;
    color: rgba(246, 242, 240, 0.8);
    text-decoration: none;
  }
  #menu > a:hover {
    background-color: rgba(246, 242, 240, 0.2);
  }
}

@media (min-width: 300px) and (max-width: 900px) {
  #current {
    cursor: default;
    width: 100%;
    margin: 0.5% 1% 0.5% 1%;
    padding: 4px 0 4px 0;
    text-align: right;
    transition: 0.5s ease-in-out;
    background-color: rgba(246, 242, 240, 0.2);
  }
}
@media (min-width: 900px) {
  #current {
    margin: 0.5% 1% 0.5% 1%;
    padding: 4px 0 4px 0;
    flex: 1;
    text-align: center;
    transition: 0.5s ease-in-out;
    background-color: rgba(246, 242, 240, 0.2);
  }
}

footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  background-color: rgb(77, 89, 91);
}
footer > div {
  display: flex;
  justify-content: center;
  height: 100%;
}
footer > div #contactInput {
  display: none;
}
footer > div #contactLabel {
  cursor: pointer;
}
footer > div #contact {
  margin: 0.5% 1% 0.5% 1%;
  padding: 4px 0 4px 0;
  text-align: right;
  transition: 0.5s ease-in-out;
  background-color: rgba(246, 242, 240, 0.2);
}
footer > div #contact #emailInput:invalid {
  border: none;
  outline: 2px solid red;
}
footer > div form {
  position: absolute;
  opacity: 0;
}
footer > div #contactInput:checked ~ form {
  display: flex;
  flex-direction: column;
  position: static;
  opacity: 1;
  transition: opacity 0.6s linear;
}
footer > div #contactIcons {
  height: 5vh;
  aspect-ratio: 2/1;
  display: flex;
}
footer > div #contactIcons > a {
  flex-grow: 1;
}
footer > div #contactIcons > a > div {
  width: 90%;
  margin: 5%;
}
footer > div #contactIcons > a > div img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.8;
}

main {
  display: flex;
}
@media (min-width: 300px) and (max-width: 900px) {
  main {
    flex-direction: column-reverse;
  }
}
@media (min-width: 900px) {
  main {
    flex-direction: row;
  }
}

section > header {
  margin: 0;
  padding: 12% 12% 2%;
}
section > div {
  display: flex;
}
@media (min-width: 300px) and (max-width: 900px) {
  section > div {
    margin: 3%;
  }
}
@media (min-width: 900px) {
  section > div {
    height: 57%;
    margin: 0% 3% 7% 3%;
  }
}
section > div > a {
  width: 33%;
  text-decoration: none;
  align-self: center;
}
section > div > a > div {
  height: auto;
  width: 96%;
  margin: 2%;
  padding: 2%;
  align-items: center;
  /* box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.1); */
  position: relative;
  align-items: center;
  opacity: 0.8;
}
section > div > a > div > img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  left: 0px;
  top: 0px;
  z-index: -1;
}
section > div > a > div > div {
  opacity: 0;
  transition: 0.5s ease-in-out;
  color: rgba(246, 242, 240, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 4%;
}
section > div > a > div:hover > img {
  opacity: 0.3;
}
section > div > a > div:hover > div {
  opacity: 1;
}

aside {
  padding: 0 1%;
  border: 2px solid rgba(246, 242, 240, 0.2);
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto;
  /* box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.05); */
}
@media (min-width: 300px) and (max-width: 900px) {
  aside {
    margin: 3%;
  }
}
@media (min-width: 900px) {
  aside {
    margin: 1% 1% 0 1%;
  }
}
aside .border {
  border-bottom: 2px solid rgba(246, 242, 240, 0.2);
  height: 80%;
}

.years {
  list-style-type: none;
  color: rgb(157, 155, 155);
  padding: 0px;
  margin: 0px;
  font-size: 0.8em;
}/*# sourceMappingURL=index.css.map */